.button {
    background-color:rgba(22, 23, 255, 0.164);
    color: rgb(149, 22, 22);
}
.error{
    font-size: large;
    color: red;
}
.divback{
    margin-top: 99px;
    background: brown;
    color: white;
    width: 200px;
    text-align: center;
}
